#background{
    height: 80vh;
    width: 100%;
    background-size:auto;
    background-image: url('https://cdn.leonardo.ai/users/8b49d567-5c2e-49dc-9bc4-d236e559f380/generations/45000c8d-0f17-4864-a80f-8002efb0d61e/Leonardo_Phoenix_10_A_visually_appealing_slider_image_for_a_Fi_1.jpg');
}